*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


body{
    width: 100%;
}

/* header */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6E6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header ul li h1{
    font-size: 23px;
    margin-top: 18px;
    font-weight: 600;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    height: 10%;
    width: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

/* homw page */
#hero{
    background-image: url(images/okkkk\ done\ pakka\ ye\ wali.jpeg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}


#hero h1{
    color: #088178;
}

#hero button{
    /* background-image: url(images/button2.png); */
    background-color: #262525;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 20%;
    min-width: 330px;
    padding: 10px 10px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}


#product1 .pro .des span{
    color:#060606;
    font-size: 12px;  
}

#product1 .pro .des h5{
    padding-top:7px;
    color: #222;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(231, 155, 15);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #a6bdaa;
    font-weight: 500;
    color: #088178;
    border: 1px solid #c1dbc5;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/f8b27052-b9fe-4829-bcf0-0c19b57a97ce.tmp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}


#banner h4{
    color: #fdfbfb;
    font-size: 25px;

}


#banner h2{
    color: #f5f1f1;
    font-size: 40px;
    padding: 10px 0;
}

#banner h2 span{
    color: #eb2121a2;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}
#product2{
    text-align: center;
}

#product2 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product2 .pro{
    width: 20%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product2 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product2 .pro img{
    width: 80%;
    border-radius: 20px;
}

#product2 .pro .des{
    text-align: start;
    padding: 10px 0;
}


#product2 .pro .des span{
    color:#060606;
    font-size: 12px;  
}

#product2 .pro .des h5{
    padding-top:7px;
    color: #222;
    font-size: 20px;
    text-align: center;
    font-weight: 550;
    
}

#product2 .pro .des i{
    font-size: 30px;
    color: rgb(231, 155, 15);
}

#product2 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product2 .pro .cart{
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #a6bdaa;
    font-weight: 500;
    color: #088178;
    border: 1px solid #c1dbc5;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/images\ 2.jpeg);
    min-width: 500px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

#sm-banner .banner-box2{
    background-image: url(images/images\ 2.jpeg);
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}


#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/images\ 2.jpeg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

#banner3 .banner-box2{
    background-image: url(images/images\ 2.jpeg);
}

#banner3 .banner-box3{
    background-image: url(images/images\ 2.jpeg);
}

#banner3 h4{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #de2020d5;
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff82;
}

#newsletter p span{
    color: #f08b1fe9;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:   #E3E6E6;
    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;  
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 8px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#close{
    display: none;
}

/* media */
  @media (max-width:799px) {
    
    .section-p1{
        padding: 40px 40px;
    }
#navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40PX 60PX rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    
#mobile {
    display: flex;
    align-items: center;
}

#mobile i {
    color: #060606;
    font-size: 24px;
    padding-left: 20px;
}





#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}

#lg-bag{
    display: none;
} 

#hero{   
    height: 70vh;
    padding: 0 80px;
   background-position: top 30% right 30%;
}

#feature{
    justify-content: center;
}

#feature .fe-box{
    margin: 15px 15px;
}

#product1 .pro-container{
    justify-content: center;
}

#product1 .pro{
    margin: 15px;
}

#banner{
    height: 20vh;
}

#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
}

#banner3{
    padding: 0 40px;
}

#banner3 .banner-box{
    width: 28px;
}


#newsletter .form{
    width: 70%;
}

}

 @media (max-width:500px)
     {
    #header{
            padding: 10px 30px;
        }
        h1 {
            font-size: 38px;
        }
        h2 {
            font-size: 32px;
        }
        #hero {
            height: 70vh;
            padding: 0 80px;
            background-position: 55%;
        }
        #hero button{
          width: 8px;
          height: 55px;
        }

        #feature {
           justify-content: space-between;
        }
        #feature .fe-box {
            width: 155px;
            margin: 5px;
            padding: 10px;
        }
        #feature .fe-box img{
            width: 70px;
            height: 30px;
            margin-bottom: 10px;
        }
        #product1 .pro{
            width: 100%;
        }

        #banner{
            height: 40vh;
        }

        #sm-banner .banner-box{
            height: 40vh;
        }

        #sm-banner .banner-box2{
            margin-top: 20px;
        }

        #banner3{
            padding: 0 20px;
        }

        #banner3 .banner-box{
          width: 100%;
        }

        #newsletter {
            padding: 40px 20px;
        }

        #newsletter .form{
            width: 100%;
        }
        footer .copyright{
            text-align: start;
        }
    } 

/* page */
    #page-header{
        background-image: url(images/images\ 2.jpeg);
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }

    #page-header h2,
    #page-header p{
        color: #fff;
    }
    
    

    #pagination{
        text-align: center;
    }

    #pagination a{
        text-decoration: none;
        background-color: #088178;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

    #pagination a i{
        font-size: 16px;
        font-weight: 600;
    }
           /* shop page */


           #product3{
            text-align: center;
        }
        
        #product3 .pro-container{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            flex-wrap: wrap;
        }
        
        #product3 .pro{
            width: 20%;
            min-width: 200px;
            padding: 10px 12px;
            border: 1px solid #cce7d0;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
            margin: 15px 0;
            transition: 0.2s ease;
            position: relative;
        }
        
        #product3 .pro:hover{
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
        }
        
        #product3 .pro img{
            width: 80%;
            border-radius: 20px;
        }
        
        #product3 .pro .des{
            text-align: start;
            padding: 10px 0;
        }
        
        
        #product3 .pro .des span{
            color:#060606;
            font-size: 12px;  
        }
        
        #product3 .pro .des h5{
            padding-top:7px;
            color: #222;
            font-size: 20px;
            text-align: center;
            font-weight: 550;
            
        }
        
        #product3 .pro .des i{
            font-size: 30px;
            color: rgb(231, 155, 15);
        }
        
        #product3 .pro .des h4{
            padding-top: 7px;
            font-size: 15px;
            font-weight: 700;
            color: #088178;
            display: flex;
            text-align: center;
            justify-content: center;
        }
        
        #product3 .pro .cart{
            width: 50px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #a6bdaa;
            font-weight: 500;
            color: #088178;
            border: 1px solid #c1dbc5;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }
        

    #product-shop{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #product-shop.buy.container{
        width: 20%;
        min-width: 200px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

    #product-shop.buy:hover{
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    } 


      /* WHY US */

      .why-us {
        text-align: center;
        padding: 40px 20px;
        background-color: #fafafa;
    }
    
    .why-us h2 {
        font-size: 2.0em;
        color: #333;
        margin-bottom: 20px;
    }
    
    .why-us p {
        font-size: 1.1em;
        color: #555; 
        margin-bottom: 40px;
    }
    
    .story {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .story h3 {
        font-size: 1.8em;
         color: #333; 
        margin-bottom: 15px;
    }
    
    .story p {
        font-size: 1.2em;
        color: #777; 
        line-height: 1.6;
    }
    
    .core-values {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 20px;
    }
    
    .core-values h3 {
        font-size: 3.0em;
        color: #333;
        margin-bottom: 20px;
        margin-top: 70px;
    
    }
    .core-values h3 p{
        color: #333;
    }
    
    .value {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .value h4 {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 10px;
    }
    
    .value p {
        font-size: 1.1em;
        color: #777;
        margin-top: 20px;
    }
    
    .value1{
        margin-top: 20px;
        
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;
        
    }
    
    footer .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    footer .logo {
        margin-bottom: 30px;  
    }
    
    footer h4{
        font-size: 14px;
        padding-bottom: 20px;
    }
    
    footer p{
        font-size: 13px;
        margin: 0 0 8px 0;
    }
    
    footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }
    
    footer .follow {
        margin-top: 20px;
    }
    
    footer .follow i{
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }
    
    footer .install .row img{
        border: 1px solid #088178;
        border-radius: 6px;
    }
    
    footer .install img{
        margin: 10px 0 8px 0;
    }
    
    footer .follow i:hover,
    footer a:hover{
        color: #088178;
    }
    
    footer .copyright{
        width: 100%;
        text-align: center;
    }
    
    #close{
        display: none;
    }

                    
                /* ABOUT  */
h1{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    font-size: 2.5 rem;
    color: #2a2828; 
}
#About
{
    display: flex;
    justify-content: space-around;
     margin-bottom: 2.0rem;
}
.aboutt{
    padding: 1.0rem;
    width: 70%;
    text-align: center;
}
.aboutt{
    margin-top: 0;
    text-align: justify;
    font-size: 500px;
}


.aboutt p{
    margin-top: 60;
    text-align: justify;
    font-size: 23px;

}




header {
    text-align: center;
    margin-bottom: .4rem;
    background-color: #f6f2f2; 
}

header h1 {
    font-size: 2.5rem;
     color: #131313; 
}

header p {
    font-size: 1.2rem;
    color: #121111;
    margin-top: .1rem;
}

#reasons {
    display: flex;
    justify-content: space-around;
    margin-bottom: .2rem;

}

.reason {
    background-color: rgb(11, 11, 11);
    padding: .4rem;
    width: 30%;
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: .7rem;
}
 
.reason h2 {
    color: #f6f8fa;
    font-size: 1.8rem;
    margin-bottom: .1rem;
}

.reason p {
    font-size: 1rem;
    color: #f5f4f4;
    margin-top: 1.4rem;
}


   /* WHY US */

   .why-us {
    text-align: center;
    padding: 40px 20px;
    background-color: #fafafa;
}

.why-us h2 {
    font-size: 2.0em;
    color: #333; 
    margin-bottom: 20px;
}

.why-us p {
    font-size: 1.1em;
    color: #555; 
    margin-bottom: 40px;
}

.story {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story h3 {
    font-size: 1.8em;
     color: #333; 
    margin-bottom: 15px;
}

.story p {
    font-size: 1.2em;
    color: #777; 
    line-height: 1.6;
}

.core-values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.core-values h3 {
    font-size: 3.0em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 70px;

}
.core-values h3 p{
    color: #333;
}

.value {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.value h4 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.value p {
    font-size: 1.1em;
    color: #777;
    margin-top: 20px;
}

.value1{
    margin-top: 20px;
    
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;  
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 8px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#close{
    display: none;
}

                            /* about */

                             body {
        background-color: #f4f4f4;
        color: #333;
    }
    header {
        /* background-color: #333; */
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }
    
    .about-us {
        text-align: center;
        padding: 50px 20px;
    
    }
    
    .about-us h1 {
        font-size: 43px;
        margin-bottom: 20px;
        
    }
    
    .about-us p {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.6;
    }
    
    
    .team-member {
        margin: 0 20px;
        text-align: center;
        width: 200px;
        
    }
    .team-row {
        display: flex;                
        justify-content: center;
        gap: 20px;
        /* flex-direction: column; 
          align-items: center;               */
    }
      
    
    .team-member h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .team-member p {
        font-size: 16px;
        color: #555;
    } 

body {
    background-color: #f4f4f4;
    color: #333;
}
header {
    /* background-color: #333; */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.about-us {
    text-align: center;
    padding: 50px 20px;

}

.about-us h1 {
    margin-top: 300px;
    font-size: 43px;
    margin-bottom: 20px;
    
}

.about-us p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}


.team-member {
    margin: 0 20px;
    text-align: center;
    width: 200px;
    
}
.team-row {
    display: flex;                
    justify-content: center;
    gap: 20px;
    /* flex-direction: column; 
      align-items: center;               */
}
  

.team-member h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 16px;
    color: #555;
} 






.pro-container {
    display: flex;             /* Use flexbox to align items */
    flex-wrap: wrap;           /* Allow items to wrap into multiple rows */
    justify-content: space-around; /* Space between the items */
    gap: 20px;                 /* Add some gap between the cards */
}

.pro {
    flex: 0 0 23%;             /* Each product will take up 23% of the container width */
    box-sizing: border-box;    /* Ensure padding and margin are included in width calculation */
    border: 1px solid #ddd;    /* Optional: Border for visual clarity */
    padding: 10px;             /* Optional: Padding inside each card */
}

@media (max-width: 1024px) {
    .pro {
        flex: 0 0 48%;        /* For tablets or smaller screens, 2 cards per row */
    }
}

@media (max-width: 768px) {
    .pro {
        flex: 0 0 98%;        /* For mobile, 1 card per row */
    }
}

        /* single product */

        #prodetails{
            display: flex;
            margin-top: 20px;
        }

        #prodetails .single-pro-img{
            width: 40%;
            margin-right: 50px;
        }

        .small-img-group{
            display: flex;
            justify-content: space-between;
        }
    
        .small-img-col{
            flex-basis: 24%;
            cursor: pointer;
        }

        #prodetails .single-pro-details{
            width: 50%;
            padding-top: 30px;
        }

        #prodetails .single-pro-details h4{
            padding: 40px 0 20px 0;
        }

        #prodetails .single-pro-details h2{
            font-size: 26px;
        }

        #prodetails .single-pro-details select{
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
        }

        #prodetails .single-pro-details input{
            width: 50px;
            height: 47px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;
        }

        #prodetails .single-pro-details input:focus{
            outline: none;
        }

        
        #prodetails .single-pro-details button{
            background-color: #088178;
            color: #fff;
        }

        #prodetails .single-pro-details span{
            line-height: 25px;
        }
        
        /* cart */

        #cart{
            overflow-x: auto;
        }

        #cart table{
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            white-space: nowrap;
        }

        #cart table img{
            width: 55px;
        }

        #cart table td:nth-child(1){
            width: 100%;
            text-align: center;
        }

        
        #cart table td:nth-child(2){
            width: 150%;
            text-align: center;
        }

        #cart table td:nth-child(3){
            width: 250%;
            text-align: center;
        }

        #cart table td:nth-child(4),
        #cart table td:nth-child(5),
        #cart table td:nth-child(6){
            width: 150%;
            text-align: center;
        }

        #cart table td:nth-child(5) input{
            width: 60px;
            padding: 10px 5px 10px 15px;
        }

        #cart table thead{
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;
        }

        #cart table thead td{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            padding: 18px 0;
        }

        #cart table tbody tr td{
            padding-top: 15px;
        }

        #cart table tbody  td{
            font-size: 13px;
        }

        #cart-add{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        #coupon{
            width: 50%;
            margin-bottom: 30px;
        }
        
        #coupon h3,
        #subtotal h3{
            padding-bottom: 15px;
        }

        #coupon input{
            padding: 10px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
        }

        #coupon button,
        #subtotal button
        {
            background-color: #088178;
            color: #fff;
            padding: 12px 20px;
        }

        #subtotal{
            width: 50%;
            margin-bottom: 30px;
            border: 1px solid #e2e9e1;
            padding: 30px;
        }

        #subtotal table{
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        #subtotal table td{
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
            font-size: 13px;
        }




        header {
            text-align: center;
            margin-bottom: .4rem;
            background-color: white; 
        
        }
        
        header h1 {
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 3.5rem;
            color: #f8f3f3;
            
        }
        
        header p {
            font-size: 1.2rem;
            color: #f7f4f4;
            margin-top: .1rem;
        }
        
        
        
        #reasons {
            display: flex;
            justify-content: space-around;
            margin-bottom: .2rem;
        
        }
        
        .reason {
            background-color: rgb(11, 11, 11);
            padding: .4rem;
            width: 30%;
            border-radius: .8rem;
            box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: .7rem;
        }
         
        .reason h2 {
            color: #fff;
            font-size: 2.0rem;
            margin-bottom: .1rem;
        }
        
        .reason p {
            font-size: 1.2rem;
            color: #fff;
            margin-top: 1.4rem;
        }
                     /* WHY US */
        
                     .why-us {
                        text-align: center;
                        padding: 40px 20px;
                        background-color: #fafafa;
                    }
                    
                    .why-us h2 {
                        font-size: 2.0em;
                        color: #333; 
                        margin-bottom: 20px;
                    }
                    
                    .why-us p {
                        font-size: 1.1em;
                         color: #555; 
                        margin-bottom: 40px;
                    }
                    
                    .story {
                        background-color: #fff;
                        border-radius: 8px;
                        padding: 20px;
                        margin-bottom: 30px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    }
                    
                    .story h3 {
                        font-size: 1.8em;
                     color: #333; 
                        margin-bottom: 15px;
                    }
                    
                    .story p {
                        font-size: 1.2em;
                         color: #777; 
                        line-height: 1.6;
                    }
                    
                    .core-values {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 30px;
                        padding: 20px;
                    }
                    
                    .core-values h3 {
                        font-size: 3.0em;
                        color: #333;
                        margin-bottom: 20px;
                        margin-top: 70px;
                    
                    }
                    .core-values h3 p{
                        color: #333;
                    }
                    
                    .value {
                        background-color: #fff;
                        border: 1px solid #fff;
                        border-radius: 8px;
                        padding: 20px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    }
                    
                    .value h4 {
                        font-size: 1.5em;
                        color: #333;
                        margin-bottom: 10px;
                    }
                    
                    .value p {
                        font-size: 1.1em;
                        color: #777;
                        margin-top: 20px;
                    }
                    
                    .value1{
                        margin-top: 20px;
                        
                    }
        
                    footer{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        background-color: #fff;
                        
                    }
                    
                    footer .col{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 20px;
                    }
                    
                    footer .logo {
                        margin-bottom: 30px;  
                    }
                    
                    footer h4{
                        font-size: 14px;
                        padding-bottom: 20px;
                    }
                    
                    footer p{
                        font-size: 13px;
                        margin: 0 0 8px 0;
                    }
                    
                    footer a{
                        font-size: 13px;
                        text-decoration: none;
                        color: #222;
                        margin-bottom: 10px;
                    }
                    
                    footer .follow {
                        margin-top: 20px;
                    }
                    
                    footer .follow i{
                        /* color: #465b52; */
                        padding-right: 4px;
                        cursor: pointer;
                    }
                    
                    footer .install .row img{
                        border: 1px solid #088178;
                        border-radius: 6px;
                    }
                    
                    footer .install img{
                        margin: 10px 0 8px 0;
                    }
                    
                    footer .follow i:hover,
                    footer a:hover{
                        color: #088178;
                    }
                    
                    footer .copyright{
                        width: 100%;
                        text-align: center;
                    }
                    
                    #close{
                        display: none;
                    }
                    body {
                        background-color: #f4f4f4;
                        color: #333;
                    }
                    header {
                         background-color: #333;
                        color: #fff;
                        padding: 10px 0;
                        text-align: center;
                    }
                    
                    .about-us {
                        text-align: center;
                        padding: 50px 20px;
                    
                    }
                    
                    .about-us h1 {
                        font-size: 43px;
                        margin-bottom: 20px;
                        
                    }
                    
                    .about-us p {
                        font-size: 18px;
                        margin-bottom: 20px;
                        line-height: 1.6;
                    }
                    
                    
                    .team-member {
                        margin: 0 20px;
                        text-align: center;
                        width: 200px;
                        
                    }
                    .team-row {
                        display: flex;                
                        justify-content: center;
                        gap: 20px;
                        /* flex-direction: column; 
                          align-items: center;               */
                    }
                      
                    
                    .team-member h2 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    
                    .team-member p {
                        font-size: 16px;
                        color: #555;
                    } 
                    @media(max-width:1900px)
 {
    html{
        font-size: 90%;

    }

 }
   
    
  
@media(max-width:1000px)
{
    html{
        font-size: 90%;
    }
    
        

}
@media (max-width:900px)
{
    html{
        font-size: 80%;
    }
    
        

}
@media (max-width:800px)
{
    html{
        font-size: 70%;
        
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    
    /* about */

    #About .aboutt{
        font-size: 20%;
        text-align: center;
    }

    .about-us {
        font-size: 20%;
    }
        

}
@media(max-width:700px)
{
    html{
        font-size: 60%;
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    .container{
        font-size: 80%;
     }
        /* about */

        #About .aboutt{
        font-size: 20%;
        text-align: center;
    }

    .about-us {
        font-size: 20%;
    }
    
        

}
@media (max-width:600px)
{
    html{
        font-size: 65%;
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    .container{
        font-size: 50%;
     }
        
        /* about */

        #About .aboutt{
        font-size: 10%;
        text-align: center;
    }

    .about-us {
        font-size: 20%;
        text-align: center;
    }

}
@media (max-width:500px)
{
    html{
        font-size: 40%;
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    .container{
        
        font-size: 90%;
     }
        /* about */

        #About  .aboutt{
        font-size: 10%;
        text-align: center;
    }

    .about-us .team-row
    {
        font-size: 0.5%;
        text-align: center;
    }

        

}
@media (max-width:400px)
{
    html{
        font-size: 40%;
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    .container{
        font-size: 90%;
     }
    
        /* about */

        #About .aboutt{
        font-size: 10%;
        text-align: center;
    }

    .about-us .team-row {
        font-size: 0.1%;
        text-align: center;

    }

    }
    @media (max-width:300px)
{
    html{
        font-size: 40%;
    }
    .core-values {
        grid-template-columns: 1fr;
    }
    .container{
        font-size: 90%;
     }
    
        /* about */

        #About .aboutt{
        font-size: 10%;
        text-align: center;
    }

    #About.about-us .team-row {
        font-size: 0.1%;
        text-align: center;

    }

    }